@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

/* HEADER AND NAV BAR */
body {
    font-family: 'Single Day', sans-serif;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #BFB0AD;
    font-size: 30px;
}

.header-bar .logo img {
    width: 60px;
    height: auto;
}

.header-bar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.header-bar .menu a {
    margin-right: 100px;
    text-decoration: none;
    color: #463331;
}

.header-bar .menu a:last-child {
    margin-right: 20;
}

.menu a:hover {
    cursor: pointer;
}

/* IMAGES */
.images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    margin-bottom: 10px; /* Add space between images and button */
}

.doropomo {
    position: absolute;
    top: 30px; /* Keep the "doropomo" image fixed at the top of its container */
}

.doropomo img {
    width: 580px;
}

.tomato-image {
    position: relative;
    margin-top: 10vh;
    margin-right: 15px;
    width: 500px;
}

.pomodoro-pasta-image {
    position: relative;
    margin-top: 10vh; 
    width: 650px;
}

.stirring-pasta-image {
    position: relative;
    margin-top: -10vh;
    margin-right: 7px;
    width: 600px;
    transform: rotate(-2deg); 
}

.start-button, .pause-button, .continue-button {
    font-family: 'Single Day', sans-serif;
    position: absolute;
    top: 475px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FAFAFA;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 70px;
}

.reset-button {
    font-family: 'Single Day', sans-serif;
    position: absolute;
    top: 480px;
    left: 41.5%;
    transform: translate(-50%, -50%);
    color: #FAFAFA;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 70px;
}

.forward-button {
    font-family: 'Single Day', sans-serif;
    position: absolute;
    top: 480px;
    left: 58.5%;
    transform: translate(-50%, -50%);
    color: #FAFAFA;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 70px;
}

.time {
    font-family: 'Single Day', sans-serif;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FAFAFA;
    font-size: 140px;
}

/* SIGNUP AND LOGIN FORM */
#auth-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #463331;
}

#auth-button {
    color: #FAFAFA;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 70px;
    font-family: 'Single Day', sans-serif;
}

.auth-input::placeholder {
    color: rgba(128,128,128,0.5);
}

.auth-input {
    height: 40px;
    width: 300px;
    font-family: 'Single Day', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    margin: 2px;
    border: 0;
    border-radius: 3px;
}

#auth-cta{
    position: absolute;
    text-align: center;
    bottom: 10px;
    color: #463331;
}

#auth-cta p {
    margin: 0px;
}

#auth-cta h1 {
    margin: 0px;
}

#auth-cta a {
    color: inherit;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #BFB0AD;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #BFB0AD;
    width: 50%;
    height: 70%;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.stats-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.close-activity {
    color: #FAFAFA;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close-activity:hover,
.close-activity:focus {
    color: #FAFAFA;
    text-decoration: none;
    cursor: pointer;
}

.stat {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}
/* MODAL */
.settings-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.settings-modal-content {
    background-color: #BFB0AD;
    margin: 15% auto; 
    padding: 20px;
    width: 500px; 
    border-radius: 10px;
    padding-bottom: 60px;
}

.settings-modal h1 {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: #fafafa;
    width: 200px; 
    height: 140px;
    border-radius: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mini-card {
    background-color: #DADADA;
    width: 100px; 
    height: 70px;
    border-radius: 7px;
    border: none;
    outline: none;
    text-align: center;
    margin-top: 10px;
}

.card p {
    font-family: 'Single Day', sans-serif;
    font-size: 25px;
    margin-bottom: -10px;
    margin-top: 20px;
}

.card input {
    font-family: 'Single Day', sans-serif;
    font-size: 80px;
}

#settings-form button {
    float: right;
    font-family: 'Single Day', sans-serif;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
/* The Close Button */
.close {
    color: #fafafa;
    float: right;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
