{% extends 'base.html' %}

{% block container %}

<div class="images-container">
  <div class="doropomo">
    <img src="/static/images/doropomo.png" alt="doropomo">
  </div>
  <div class="pomodoro-image">
    <img class="tomato-image" src="/static/images/tomato.png" alt="tomato.png">
    <img class="pomodoro-pasta-image" src="/static/images/pomodoro-pasta/0.png" alt="pomodoro-pasta.png">
    <img class="stirring-pasta-image" src="/static/images/stirring-pasta/0.png" alt="stirring-pasta.png">
  </div>
  <p class="time" id="timer">25:00</p>
  <button class="reset-button">
    <i class="fa-solid fa-arrow-rotate-left fa-2xs"></i>
  </button>
  <button class="forward-button">
    <i class="fa-solid fa-forward fa-2xs"></i>
  </button>
  <button class="start-button">START</button>
  <button class="pause-button">PAUSE</button>
</div>

<!-- Settings Modal -->
<div id="settings-modal" class="settings-modal">
  <div class="settings-modal-content">
    <div class="close">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <h1>SETTINGS</h1>
    <form id="settings-form" method="post">
      <div class="card-container">
        <div class="card">
          <p>STUDY</p>
          <input class="mini-card" id="study-time" type="text" value="25" required>  
        </div>
        <div class="card">
          <p>BREAK</p>
          <input class="mini-card" id="break-time" type="text" value="5" required>  
        </div>  
      </div>
      <button type="submit">OK</button>
    </form>
  </div>
</div>

<script>
  let modal = document.getElementById("settings-modal");
  let closeButton = document.getElementsByClassName("close")[0];

  // When the user clicks on x button, close the modal
  closeButton.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  // handle submit of settings modal
  let settingsForm = document.getElementById("settings-form");
  
  // Listen for the custom event to open the settings modal
  document.addEventListener("openSettingsModal", function() {
    modal.style.display = "block";
  });

  settingsForm.addEventListener("submit", (e) => {
    e.preventDefault();
    WORK_TIME_MIN = parseInt(document.getElementById("study-time").value);
    REST_TIME_MIN = parseInt(document.getElementById("break-time").value);
    WORK_TIME_SEC = WORK_TIME_MIN * 60;
    REST_TIME_SEC = REST_TIME_MIN * 60;

    // change the timer html
    document.getElementById('timer').innerHTML = WORK_TIME_MIN + ":00";
    // Reset the timer with new values
    resetTimer();
    // Close the modal
    modal.style.display = "none";
  });

</script>



<!-- countdown timer -->
<script>
  let WORK_TIME_MIN = 25;
  let REST_TIME_MIN = 5
  let WORK_TIME_SEC = WORK_TIME_MIN * 60;
  let REST_TIME_SEC = REST_TIME_MIN * 60;

  const EATING_FRAME_COUNT = 5;
  const STIRRING_FRAME_COUNT = 18;

  /*
  * This enum stores the state timer is in.
  * This info is useful when skipping from break to work, and vice versa.
  * Also, we can show different images after work is over, and after break is over.
  */
  const TimerState = Object.freeze({ 
    WORK: 0,
    REST: 1,
  }); 

  let timeLeftInSeconds;
  let timerElement = document.getElementById('timer');
  let timerInterval;

  // we set this interval when we want to play the corresponding animations, and clear when we wan't to pause them 
  let stirringInterval; 
  let eatingInterval;

  // these variable hold which frame of the corresponding animations we show
  let stirringFrameNum = 0;
  let eatingFrameNum = 0;

  // get the buttons and the images
  let startButton = document.querySelector('.start-button');
  let pauseButton = document.querySelector('.pause-button');
  let resetButton = document.querySelector('.reset-button');
  let forwardButton = document.querySelector('.forward-button');
  let tomatoImage = document.querySelector('.tomato-image');
  let pomodoroPastaImage = document.querySelector('.pomodoro-pasta-image');
  let stirringPastaImage = document.querySelector('.stirring-pasta-image');

  let stirringPastaFrames = loadImages("stirring-pasta", STIRRING_FRAME_COUNT);
  let eatingPastaFrames = loadImages("pomodoro-pasta", EATING_FRAME_COUNT);

  // set initial state of the timer
  let currentState = TimerState.WORK;
  clearTimer();
  showTomatoImage(); // Show tomato image when the page is refreshed
  
  // add event listeners to buttons 
  startButton.addEventListener('click', startTimer);
  pauseButton.addEventListener('click', pauseTimer);
  resetButton.addEventListener('click', resetTimer);
  forwardButton.addEventListener('click', forwardTimer);

  function startTimer() {
    // update the countdown timer every second
    clearInterval(timerInterval); // clear interval before setting to avoid setting twice
    timerInterval = setInterval(updateTimer, 1000);

    if (currentState == TimerState.WORK) {
      clearInterval(stirringInterval);
      stirringInterval = setInterval(stirPasta, 150);
      showStirringPastaImage(stirringFrameNum);
    } else {
      clearInterval(eatingInterval); 
      eatingInterval = setInterval(eatPasta, 500);
      showPomodoroPastaImage(eatingFrameNum);
    }

    showPauseButton();
    resetButton.style.display = "initial";
    forwardButton.style.display = "initial";
  }

  function clearTimer() {
    clearInterval(timerInterval); // stops the countdown
    clearInterval(stirringInterval); // stops the stirring of the pasta if it's being shown
    clearInterval(eatingInterval); // stops the eating of the pasta if it's being shown

    // reset the time left and the image
    if (currentState == TimerState.WORK) {
      timeLeftInSeconds = WORK_TIME_SEC;
      showStirringPastaImage(0);
    } else {
      timeLeftInSeconds = REST_TIME_SEC;
      showPomodoroPastaImage(0);
    }

    // apply the time left as string
    timerElement.textContent = getTimeAsString(timeLeftInSeconds);

    // reset the buttons
    showStartButton();
    resetButton.style.display = "none";
    forwardButton.style.display = "none";
  }

  function pauseTimer() {
    clearInterval(timerInterval); // stops the countdown
    clearInterval(stirringInterval); // stops the stirring of the pasta if it's being shown
    clearInterval(eatingInterval); // stops the eating of the pasta if it's being shown
    showStartButton();
  }

  async function resetTimer() {
    if (currentState == TimerState.WORK) {
      const form = new FormData()
      form.append("studied_time", WORK_TIME_SEC - timeLeftInSeconds)
      const response = await fetch("/time-studied", {
        method: 'POST',
        body: form
      })
    }
    clearTimer()
  }

  async function forwardTimer() {
    if (currentState == TimerState.WORK) {
      const form = new FormData()
      form.append("studied_time", WORK_TIME_SEC - timeLeftInSeconds)
      const response = await fetch("/time-studied", {
        method: 'POST',
        body: form
      })
    }
    // switch current state
    currentState = (currentState == TimerState.WORK) ? TimerState.REST : TimerState.WORK;
    clearTimer();
  }

  // update countdown
  async function updateTimer() {
    timeLeftInSeconds--;
    if (timeLeftInSeconds < 0) {
      if (currentState == TimerState.WORK) {
        const form = new FormData()
        form.append("studied_time", WORK_TIME_SEC)
        const response = await fetch("/time-studied", {
          method: 'POST',
          body: form
        })
      }
      // switch current state
      currentState = (currentState == TimerState.WORK) ? TimerState.REST : TimerState.WORK;
      clearTimer();
    }
    timerElement.textContent = getTimeAsString(timeLeftInSeconds);
  }

  function showStartButton() {
    startButton.style.display = "initial";
    pauseButton.style.display = "none";
  }

  function showPauseButton() {
    startButton.style.display = "none";
    pauseButton.style.display = "initial";
  }

  function showTomatoImage() {
    tomatoImage.style.display = "initial";

    pomodoroPastaImage.style.display = "none";
    clearInterval(eatingInterval);

    stirringPastaImage.style.display = "none";
    clearInterval(stirringInterval);
  }

  // frame number sets which frame of the image to show 
  function showPomodoroPastaImage(frameNum) {
    tomatoImage.style.display = "none";

    pomodoroPastaImage.style.display = "initial";
    eatingFrameNum = frameNum; // we set eatingFrameNum so when we play animation we play it from that frame
    pomodoroPastaImage.src = eatingPastaFrames[eatingFrameNum].src;

    stirringPastaImage.style.display = "none";
    clearInterval(stirringInterval);
  }

  // frame number sets which frame of the image to show 
  function showStirringPastaImage(frameNum) {
    tomatoImage.style.display = "none";

    pomodoroPastaImage.style.display = "none";
    clearInterval(eatingInterval);

    stirringPastaImage.style.display = "initial";
    stirringFrameNum = frameNum; // we set stirringFrameNum so when we play animation we play it from that frame
    stirringPastaImage.src = stirringPastaFrames[stirringFrameNum].src;
  }

  async function stirPasta() {
    stirringFrameNum++;
    if (stirringFrameNum >= STIRRING_FRAME_COUNT) stirringFrameNum = 0;
    stirringPastaImage.src = stirringPastaFrames[stirringFrameNum].src;
  }

  async function eatPasta() {
    eatingFrameNum++;
    if (eatingFrameNum >= EATING_FRAME_COUNT) eatingFrameNum = 0;
    pomodoroPastaImage.src = eatingPastaFrames[eatingFrameNum].src;

  }

  function getTimeAsString(totalSeconds) {
    if (totalSeconds < 0) return '00:00';
    let minutes = Math.floor(totalSeconds / 60);
    let seconds = totalSeconds % 60;
    if (seconds < 10) {
      seconds = '0' + seconds;
    }
    return minutes + ':' + seconds;
  }

  function loadImages(directoryName, frameCount) {
    let images = [];
    for (var i = 0; i < frameCount; i++) {
        var img = new Image();
        img.src = "/static/images/" + directoryName + "/" + i + ".png";
        images.push(img);
    }
    return images;
  } 

</script>

{% endblock %}
