{% extends 'base.html' %}

{% block container %}

<div class="images-container">
  <div class="doropomo">
    <img src="/static/images/doropomo.png" alt="doropomo">
  </div>
  <div class="pomodoro_image">
    
    <img class="tomato_image" src="/static/images/tomato.png" alt="tomato.png">
    <!-- <img class="pomodoro_pasta_image" src="/static/images/pomodoro_pasta.png" alt="pomodoro_pasta.png"> -->
    <!-- <img class="stirring_pasta_image" src="/static/images/stirring_pasta.png" alt="stirring_pasta.png"> -->
   
  </div>
  <p class="time" id="timer">25:00</p>
  <button class="start-button">START</button>
</div>

<!-- countdown timer -->
<script>
  var timeLimitInMinutes = 25;
  var timeLimitInSeconds = timeLimitInMinutes * 60;
  var timerElement = document.getElementById('timer');

  function startTimer() {
    timeLimitInSeconds--;
    var minutes = Math.floor(timeLimitInSeconds / 60);
    var seconds = timeLimitInSeconds % 60;

    if (timeLimitInSeconds < 0) {
      timerElement.textContent = '00:00';
      clearInterval(timerInterval);
      return;
    }

    if (minutes < 10) {
      minutes = '0' + minutes;
    }
    if (seconds < 10) {
      seconds = '0' + seconds;
    }

    timerElement.textContent = minutes + ':' + seconds;
  }

  var timerInterval = setInterval(startTimer, 1000);

</script>

{% endblock %}