{% extends 'base.html' %}

{% block container %}
<div class="images-container">
    <div class="doropomo">
        <img src="/static/images/doropomo.png" alt="doropomo">
    </div>
    <div class="pomodoro-image">
        <img class="tomato-image" src="/static/images/tomato.png" alt="tomato.png">
    </div>
    <form id="login-form" method="post">
        <input class="login-input" type="username" name="username" placeholder="username" required>
        <input class="login-input" type="password" name="password" placeholder="password" required>
        {% if invalid_login %}
            <p class="login-error"> PASSWORD OR USERNAME IS INVALID </p> 
        {% endif %}
        <input id="login-button" type="submit" value="LOGIN">
    </form>
    <div id="login-cta">
        <p>DON'T HAVE AN ACCOUNT YET?</p>
        <a href="/signup"><h1>SIGN UP</h1></a>
    </div>
</div>
{% endblock %}