{% extends 'base.html' %}

{% block container %}
<div class="images-container">
    <div class="doropomo">
      <img src="/static/images/doropomo.png" alt="doropomo">
    </div>
    <div class="pomodoro-image">
      <img class="tomato-image" src="/static/images/tomato.png" alt="tomato.png">     
    </div>
    <form id="auth-form" method="post">
        <input class="auth-input" type="username" name="username" placeholder="username" required>
        {% if username_taken %}
          <p class="signup-error"> THIS USERNAME IS TAKEN. </p> 
        {% endif %}
          <input class="auth-input" type="password" name="password" placeholder="password" required>
          <input class="auth-input" type="password" name="confirm-password" placeholder="confirm password" required>
        {% if passwords_dont_match %}
          <p class="signup-error"> PASSWORDS DON'T MATCH. </p> 
        {% endif %}
        <input id="auth-button" type="submit" value="SIGN UP">
    </form>
    <div id="auth-cta">
      <p>ALREADY HAVE AN ACCOUNT?</p>
      <a href="/login"><h1>LOG IN</h1></a>
    </div>
  </div>
{% endblock %}